{% extends "base.html" %}

{% block content %}
	<h1>Login</h1>
	
	<form action="" method="POST">
		
		<div class="form_block">
			<p>{{ form.first_name.label }}</p>
			<p>{{ form.first_name(size=64) }}</p>
		</div>
		
		<div class="form_block">
			<p>{{ form.last_name.label }}</p>
			<p>{{ form.last_name(size=64) }}</p>
		</div>
		
		<div class="form_block">
			<p>{{ form.admin_password.label }}</p>
			<p>{{ form.admin_password(size=64) }}</p>
		</div>
		
		<div class="submit_block">
			<p>{{ form.submit }}</p>
		</div>
		
		
		
	</form>

{% endblock %}


