<!DOCTYPE html>

<html>
	<head>
		<title>Room Service</title>
		<style>
			.header a {
				color: blue
				
			}
		
		</style>
		
	</head>
	
	<div style="display: inline" class="header">
		<p style="display: inline">Admin Interface</p>
		<a href="{{ url_for('home') }}">Home</a>
		
		{% if not current_user.is_anonymous %}
		
			<a href="{{ url_for('add_volunteer') }}">Add Volunteer</a>
			<a href="{{ url_for('add_admin') }}">Add Admins</a>
			
			<a href="{{ url_for('delete_user') }}">Delete Users</a>
			<a href="{{ url_for('delete_admin') }}">Delete Admins</a>
			<a href="{{ url_for('delete_volunteer') }}">Delete Volunteers</a>
			
			
			<a href="{{ url_for('view_users') }}">View Users</a>
			<a href="{{ url_for('view_volunteers') }}">View Volunteers</a>
			<a href="{{ url_for('view_admins') }}">View Admins</a>
			
			
			<a href="{{ url_for('logout') }}">Logout</a>
			
			
			<p style="display: inline">Welcome, <b>{{ current_user.username }}</b></p>
		
		{% endif %}
		
		{% if current_user.is_anonymous %}
		
			<a href="{{ url_for('login') }}">Login</a>
			
		{% endif %}
		
	</div>
	
	<hr>
	
	<div class="messages">
		{% with messages = get_flashed_messages() %}
			{% for message in messages %}
				<b>{{ message }}</b>
			{% endfor %}
		
		{% endwith %}
	</div>

	<div class="main">
		{% block content %}{% endblock %}
	</div>

</html>
