{% extends "base.html" %}


{% block content %}
	<h1>{{ title }}</h1>
	
	
	<style>
		.admins_to_delete_table, .admins_to_delete_table th, .admins_to_delete_table td  {
			border: 1px solid black;
		}
		
		.admins_to_delete_table tr {
			width: 100%;
			height: 40px;
			
		}
		
		.admins_to_delete_table td, .admins_to_delete_table th {
			padding: 20px;
			
		}
	
	</style>
	
	<table class="admins_to_delete_table">
		
		<tr>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
			<th>E-Mail</th>
			<th>Status</th>
			
		</tr>
		{% for admin in admins %}
			<tr>
				<td>{{ admin.id }}</td>
				<td>{{ admin.first_name }}</td>
				<td>{{ admin.last_name }}</td>
				<td>{{ admin.username }}</td>
				<td>{{ admin.email }}</td>
				
				<form method="POST" action="">
					<input name='admin_id' type="hidden" value="{{ admin.id }}" />
					<td><input type="submit" value="Delete" /></td>
				</form>
				
			
			</tr>
		
		{% endfor %}
		
		
	</table>
	
	

{% endblock %}
