{% extends "base.html" %}

{% block content %}
	<h1>Login</h1>
	
	<form action="" method="POST">
		
		<div class="form_block">
			<p>{{ form.admin_id.label }}</p>
			<p>{{ form.admin_id(size=8) }}</p>
		</div>
		
		<div class="form_block">
			<p>{{ form.password.label }}</p>
			<p>{{ form.password(size=32) }}</p>
		</div>
		
		<div class="submit_block">
			<p>{{ form.submit }}</p>
		</div>
		
		
		
	</form>

{% endblock %}


