{% extends "base.html" %}


{% block content %}
	<h1>{{ title }}</h1>
	
	
	<style>
		.users_to_delete_table, .users_to_delete_table th, .users_to_delete_table td  {
			border: 1px solid black;
		}
		
		.users_to_delete_table tr {
			width: 100%;
			height: 40px;
			
		}
		
		.users_to_delete_table td, .users_to_delete_table th {
			padding: 20px;
			
		}
	
	</style>
	
	<table class="users_to_delete_table">
		
		<tr>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			
		</tr>
		{% for volunteer in volunteers %}
			<tr>
				<td>{{ volunteer.id }}</td>
				<td>{{ volunteer.first_name }}</td>
				<td>{{ volunteer.last_name }}</td>
					
			
			</tr>
		
		{% endfor %}
		
		
	</table>
	
	

{% endblock %}
